<div
  class="position-absolute top-50 start-50 translate-middle w-50 text-center"
>
  <a href="/leave-a-message" type="button" class="btn btn-primary btn-lg m-2">
    Leave us a message
  </a>
  <a href="/view-messages" type="button" class="btn btn-primary btn-lg m-2">
    View Messages
  </a>
</div>