<div class="position-absolute top-50 start-50 translate-middle w-50">
  <form id="leave-message-form">
    <div class="mb-3">
      <input
        type="name"
        id="full-name"
        class="form-control"
        placeholder="Full Name"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        id="email-address"
        class="form-control"
        placeholder="Email Address"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        id="user-message"
        class="form-control"
        placeholder="Your Message"
      />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="newsletter-check" />
      <label class="form-check-label" for="newsletter-check">Would you like to
        subscribe to the Tasty Treats Newsletter?</label>
    </div>
    <div
      class="g-recaptcha mb-3"
      id="capcha"
      data-sitekey="6LeNm3sbAAAAAOEjSEWrhsskKNXUCYCeJvnW3LVY"
    ></div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>