<div class="position-absolute top-50 start-50 translate-middle w-50">
  <div class="card">
    <h5 class="card-header">Posted by: <span>John Smith</span></h5>
    <div class="card-body">
      <h5 class="card-title">Date posted: <span>02.02.2021</span></h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
        architecto cum illo quam ex nulla eius? Labore velit dicta assumenda
        quae pariatur libero autem hic optio saepe, ad dignissimos perferendis,
        quod omnis dolorum voluptatibus eos dolore minus accusamus quaerat!
        Soluta aspernatur laborum corrupti veritatis velit ipsam assumenda
        beatae repellat excepturi!
      </p>
      <p>
        Email:
        <a href="mailto:john.smith@email.com"> john.smith@email.com</a>
      </p>
    </div>
  </div>
</div>