<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />

    <title>Tasty Treats</title>
  </head>
  <body>
    <h1 class="jumbotron text-center">Tasty Treats</h1>

    <div class="position-absolute top-50 start-50 translate-middle w-50">
      <div class="card">
        <h5 class="card-header">Posted by: <span>John Smith</span></h5>
        <div class="card-body">
          <h5 class="card-title">Date posted: <span>02.02.2021</span></h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
            architecto cum illo quam ex nulla eius? Labore velit dicta assumenda
            quae pariatur libero autem hic optio saepe, ad dignissimos
            perferendis, quod omnis dolorum voluptatibus eos dolore minus
            accusamus quaerat! Soluta aspernatur laborum corrupti veritatis
            velit ipsam assumenda beatae repellat excepturi!
          </p>
          <p>
            Email:
            <a href="mailto:john.smith@email.com"> john.smith@email.com</a>
          </p>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
